@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  src: local('Poppins-SemiBold'),
  url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
  url('../fonts/Poppins-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'SFUIText';
  font-weight: 700;
  font-style: normal;
  src: local('SFUIText-Bold'),
  url('../fonts/SFUIText-Bold.woff2') format('woff2'),
  url('../fonts/SFUIText-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'SFUIText';
  font-weight: 600;
  font-style: normal;
  src: local('SFUIText-Semibold'),
  url('../fonts/SFUIText-Semibold.woff2') format('woff2'),
  url('../fonts/SFUIText-Semibold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'SFUIText';
  font-weight: 500;
  font-style: normal;
  src: local('SFUIText-Medium'),
  url('../fonts/SFUIText-Medium.woff2') format('woff2'),
  url('../fonts/SFUIText-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'SFUIText';
  font-weight: 400;
  font-style: normal;
  src: local('SFUIText-Regular'),
  url('../fonts/SFUIText-Regular.woff2') format('woff2'),
  url('../fonts/SFUIText-Regular.woff') format('woff');
  font-display: swap;
}