@import '../style/fonts';
@import '../style/reset';
@import '../style/vars';
@import '../style/main';

body {
  font-family: 'SFUIText', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
